@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


    <form method="post" action="RequestIdPostAPI">
        <fieldset>
            <legend>Add Request</legend>
            <div>
                <label for="CompanyName">Request Id:</label>
                <input type="text" id="requestId" name="CompanyName" value="" />
            </div>
            <div>
                <label for="ContactName">Session Id:</label>
                <input type="text" id="sessionId" name="ContactName" value="" />
            </div>
            <div>
                <label>&nbsp;</label>
                <input onclick="PostRequestData();" type="submit" value="Submit" class="submit" />
            </div>
        </fieldset>
    </form>


<script>
    function PostRequestData() {
        let requestIdData = document.getElementById("requestId").value;
        let sessionIdData = document.getElementById("sessionId").value;
        let requestData = { requestId: requestIdData, sessionId: sessionIdData };
        $.ajax({
            type: "POST",
            url: "https://localhost:7136/api/CurrencyRate",
            contentType: 'application/json; charset=utf-8',
            data: requestData,
            dataType: 'json',
            beforeSend: function () {
                $("#response").text("Request sending. Please wait...");
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Request: " + XMLHttpRequest.toString() + "\n\nStatus: " + textStatus + "\n\nError: " + errorThrown);
            },
            success: function (result) {
                $("#response").text(result);
                console.log(result);
            }
        });
    }
</script>
