@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <button type="button" id="syncButton" class="btn btn-primary btn-lg">Syncronous</button>
</div>
<div class="row">
    <section class="col-md-12">
        <div id="response"></div>
    </section>
</div>
